<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:component-scan base-package="com.api.deployer"/>
	
	<import resource="xml-config.xml"/>

    <bean id="hasher" class="com.redshape.utils.hashers.MD5" scope="singleton"/>
    
    <bean id="config" class="com.redshape.utils.config.XMLConfig" scope="singleton">
        <constructor-arg><ref bean="xmlHelper"/></constructor-arg>
        <constructor-arg value="config.xml"/>
    </bean>

    <bean scope="singleton" id="componentsLocator" class="com.redshape.ui.components.locators.ConfigBasedLocator">
    	<constructor-arg><ref bean="config"/></constructor-arg>
    </bean>
    
    <bean scope="singleton" id="componentsRegistry" class="com.redshape.ui.components.ComponentsRegistry">
    	<constructor-arg><ref bean="componentsLocator"/></constructor-arg>
   	</bean>
   	
   	<bean scope="singleton" id="eastPlacement" class="com.redshape.ui.utils.UIConstants.Area" factory-method="valueOf">
   		<constructor-arg>
   			<value>EAST</value>
   		</constructor-arg>
   	</bean>
   	
   	<bean scope="singleton" id="centerPlacement" class="com.redshape.ui.utils.UIConstants.Area" factory-method="valueOf">
   		<constructor-arg>
   			<value>CENTER</value>
   		</constructor-arg>
   	</bean>
   	
   	<!-- UI Contstants -->
	<bean scope="singleton" id="westPlacement" class="com.redshape.ui.utils.UIConstants.Area" factory-method="valueOf">
	     <constructor-arg>
	         <value>WEST</value>
	     </constructor-arg>
	 </bean>
	 
	 <bean scope="singleton" id="southPlacement" class="com.redshape.ui.utils.UIConstants.Area" factory-method="valueOf">
	 	<constructor-arg>
	 		<value>SOUTH</value>
	 	</constructor-arg>
	 </bean>
	 
 	 <bean scope="singleton" id="northPlacement" class="com.redshape.ui.utils.UIConstants.Area" factory-method="valueOf">
	 	<constructor-arg>
	 		<value>NORTH</value>
	 	</constructor-arg>
	 </bean>

	<!-- UI Generators -->

	<bean scope="singleton" id="modelsBuilder" class="com.redshape.ui.bindings.ViewModelBuilder"/>

	<bean scope="singleton" id="uiBuilder" class="com.redshape.ui.bindings.properties.PropertyUIBuilder">
		<property name="renderers">
			<map key-type="java.lang.Class" value-type="java.lang.Class">
				<entry>
					<key><value type="java.lang.Class">java.lang.String</value></key>
					<value>com.redshape.ui.bindings.render.properties.StringUI</value>
				</entry>
				<entry>
					<key><value type="java.lang.Class">java.lang.Boolean</value></key>
					<value>com.redshape.ui.bindings.render.properties.BooleanUI</value>
				</entry>
			</map>
		</property>
	</bean>
	
	<bean scope="singleton" id="viewRendererBuilder" class="com.redshape.ui.bindings.render.SwingBuilder">
		<constructor-arg><ref bean="modelsBuilder"/></constructor-arg>
		<constructor-arg><ref bean="uiBuilder"/></constructor-arg>
	</bean>

   	<!-- Widgets -->

	<bean scope="singleton" id="viewsManager" class="com.redshape.ui.views.ViewsManager">
		<constructor-arg><ref bean="centerPlacement"/></constructor-arg>
	</bean>

	<bean scope="singleton" id="windowsManager" class="com.redshape.ui.windows.swing.WindowsManager"/>

	<bean scope="singleton" id="storesManager" class="com.redshape.ui.data.stores.StoresManager"/>
	

</beans>
