.idea/
.settings/
.classpath
pom.properties
*tmp
build
nbproject/
build/
target/
interpolated-pom.xml
*.jar
*.iws
*.log
logs/
*.class
*.ipr
apidocs/
*.iml
assemblies/
build/
pom.properties
