*/.idea/
.idea/
**/pom.xml.tag
**/pom.xml.releaseBackup
.settings/
.classpath
.project
pom.properties
*tmp
build
nbproject/
build/
target/
interpolated-pom.xml
*.jar
*.iws
*.log
logs/
*.class
*.ipr
apidocs/
*.iml
assemblies/
build/
*/maven-archiver/
