<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <import resource="db.conf.xml" />

    <context:component-scan base-package="com.redshape"/>

    <bean id="queryBuilder" class="com.redshape.persistence.dao.query.StandardQueryBuilder"/>
    
    <bean id="executorService" class="com.redshape.persistence.dao.jpa.executors.services.JPAExecutorService"
            scope="singleton" p:entityManagerFactory-ref="entityManagerFactory"/>
    
    <bean id="testDAO" class="com.redshape.persistence.TestDao">
        <constructor-arg><ref bean="queryBuilder"/></constructor-arg>
        <constructor-arg><ref bean="executorService"/></constructor-arg>
    </bean>

</beans>